.box {
    display: flex;
    padding: 10px;
    
}

.box{
    display: flex;
    justify-content:center;
    /* align-items:center; */
    
}

app-crew{
    margin-right: 50px;
    margin-left: 50px;
}

app-experiments{
    margin-right: 50px;
    margin-left: 50px;
}

app-equipment{
    margin-right: 50px;
    margin-left: 50px;
}